body{
    padding: 0;
    margin: 0;
}
.main{
    width:1180px;
    margin: 0 auto;
    &.top{
        padding-top:23px;
    }
}
.f_left{
    float: left;
}
.f_right{
    float: right;
}
.inline-block{
    display: inline-block;
}
.select{
    width: 60px;
    height: 35px;
    line-height: 35px;
    &:focus{
        border-color: #66afe9;
        outline-color: transparent;
    }
}
.search{
    width: 300px;
    padding: 0 20px;
    height: 35px;
    // &:focus{
    //     border-color: #66afe9;
    //     outline-color: transparent;
    // }
}
.dump{
    padding: 10px 40px 10px 10px;
    &:hover{
        cursor: pointer;
        color: #66afe9;
    }
  }
.dump1{
    padding: 10px ;
    &:hover{
        cursor: pointer;
        color: #66afe9;
    }
}
.mybtn.btn-danger{
    padding:0;
    height: 35px;
    width:80px;
    border-radius: 0;
    line-height: 35px;
}
.bg_banner{
    background: url('../img/banner.png');
    position: relative;

   

    .content_banner{
        height: 600px;
    }
}





